.groomName{
    position: absolute;
    top: 0px;
    left: 0px;
}

.mainContent{
    animation: mainContentAnimation 2s ease-in;
}

.button{
    animation: buttonAnimationFade 2s ease-in;
}

.footerContent{
    animation: footerContentAnimation 2s ease-in;
}

.butterfly{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    animation: butterflyAnimation 10s ease-in;
    z-index: 9;
}

@keyframes mainContentAnimation {
    0% {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes buttonAnimationFade {
    0% {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes footerContentAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
    }
}

@keyframes butterflyAnimation {
    0% {
        transform: translate(0px, 400px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}